@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html{
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  background-color: #FFFFFF;
}

.visually-hidden{
  visibility: hidden;
}

a.undecorated-link {
  color: #000000;
  text-decoration: none;
}

.page-header {
  color: #000000;
  background: #FFFFFF;
}

.navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 1060px;
  height: 64px;
  margin: 0 auto;
}

.navigation-list {
  display: flex;
  justify-content: space-between;
  width: 339px;
  margin: 0;
  padding: 0;
}

.navigation-user {
  display: flex;
  max-width: 268px;
  margin-left: auto;
}

.navigation-link {
  font-family: "PT Sans", sans-serif;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  font-size: 20px;
  color: inherit;
  background-color: #FFFFFF;
  text-decoration: none;
}

.main-container{
  flex-grow: 1;
}

.main-index {
  color: #000000;
  background-color: #FFFFFF;
  background-image: url(/images/index_background.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.page-container{
  width: 1200px;
  margin: 0 auto;
}

.welcome {
  display: block;
  width: 458px;
  margin: 0 auto;
}


.description-first{
  margin: 0;
  padding: 0;
  width: 1200px;
  height: 282px;
  margin-top: 485px;
}

.description-main {
  padding: 0;
  color: #000000;
  background-color: #FFFFFF;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  width: 620px;
  margin: 0 auto;
}

.description-small {
  margin: 0;
  padding: 0;
  width: 651px;
  margin: 0 auto;
  margin-top: 25px;
  color: #000000;
  background-color: #FFFFFF;
  font-size: 22px;
  line-height: 26px;
  text-align: center;

}

.advantages-list-first{
margin: 0;
padding: 0;
}

.advantages-blue {
  margin: 0;
  padding: 0;
  width: 400px;
  height: 384px;
  color: #FFFFFF;
  background-color: #82B3D3;
  display:flex;
  flex-direction: column;
  justify-content: center;
}

.advantages-item{
  display: flex;
  justify-content: space-evenly;
  margin: 0;
  padding: 0;
}


.advantages-title-blue {
  margin: 0;
  padding: 0;
  color: #FFFFFF;
  background-color: #82B3D3;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.advantages-description-blue {
  color: #FFFFFF;
  background-color: #82B3D3;
  font-size: 18px;
  line-height: 21px;
  margin: 0 auto;
  width: 230px;
  text-align: center;
}

.advantages-item-2{
  display: flex;
  justify-content: space-evenly;
  margin: 0;
  padding: 0;
  text-align: center;
}

.advantages-list-second{
  margin: 0;
  padding: 0;
}

.advantages-white{
  height: 384px;
  text-align: center;
  display:flex;
  flex-direction: column;
  justify-content: center;
}

.advantages-item-list{
  height: 384px;
  display:flex;
  flex-direction: column;
  justify-content: center;
}


.advantages-title {
  color: #000000;
  background-color: #FFFFFF;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  width: 175px;
  margin: 0 auto;
}

.advantages-description {
  margin: 0 auto;
  width: 230px;
  color: #000000;
  background-color: #FFFFFF;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

.search-hotel {
 margin: 0 auto;
}

.sign-up {
  background-image: url(/images/background.png);
  background-size: 100% auto;
  background-repeat: no-repeat;
  height: 414.86px;
}

.description-white {
  color: #FFFFFF;
  text-align: center;
  text-transform: uppercase;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  margin:0;
  padding:0;
}

.description-small-white {
  color: #FFFFFF;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.page-footer {
  background-color: #FFFFFF;
  display: flex;
  width: 1060px;
  height: 120px;
  margin: 0 auto;
}



.footer-social-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 142px;
  height: 40px;
  color: #000000;
  text-decoration: none;
}

.number {
  color: #000000;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  margin: 0 auto;
}

.page-footer-container{
  width: 1060px;
  height: 50px;
}

.html-academy-img {
  text-align: right;
}
