@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html{
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  background-color: #FFFFFF;
}

.visually-hidden{
  visibility: hidden;
  margin:0;
  height:0;
}

a.undecorated-link {
  color: #000000;
  text-decoration: none;
}

.page-header {
  color: #000000;
  background: #FFFFFF;
}

.navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 1060px;
  margin: 0 auto;
}

.navigation-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 339px;
  margin: 0 230px 0 0 ;
  padding: 0;
  list-style-type: none;
}

.navigation-link-current{
  position: relative;
}

.navigation-link-current::after {
  position: absolute;
  right: 16px;
  bottom: -1px;
  left: 16px;
  height: 2px;
  width: 68px;
  background-color: #756257;
  content: "";
}

.navigation-user {
  margin: 0;
  display: flex;
  justify-content: space-between;
  max-width: 268px;
  list-style-type: none;
}

.navigation-user li {
  display: inline-block;
  justify-content: space-around;
  align-items: center;
  width: 44px;
}

.navigation-user .navigation-link {
  display: block;
  min-width: 44px;
}

.navigation-link {
position: relative;
}

.navigation-icon{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #000000;
}

.count-badge{
  position: absolute;
  font-weight: 400;
  font-size: 10px;
  line-height: 13px;
  border-radius: 50%;
  background-color: #7DB54F;
  color: #FFFFFF;
  padding: 3px 5px;
  letter-spacing: -0.1em;
  margin-top: -2px;
  margin-left: 25px;
}

.navigation-user .want{
  background-color: #756157;
  width: max-content;
  height: 100%;
  padding: 8px 34px;
  border-radius: 4px;
}

.navigation-user .want a{
  color: #FFFFFF;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  width: max-content;
  height: 100%;
  text-decoration: none;
}

.navigation-list .navigation-link {
  display: block;
  padding: 20px 16px;
  font-family: "PT Sans", sans-serif;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  font-size: 20px;
  color: inherit;
  background-color: #FFFFFF;
  text-decoration: none;
}

.navigation-user .navigation-item:nth-child(2){
  background-position: center;
  margin-right: 20px;
}

.main-container{
  flex-grow: 1;
  padding-top: 51px;
}

.main-index {
  color: #000000;
  background-color: #FFFFFF;
  background-image: url(/images/index_background.jpg);
  background-size: auto;
  background-repeat: no-repeat;
  margin-left: auto;
    margin-right: auto;
}

.page-container{
  width: 1200px;
  margin: 0 auto;
}

.welcome {
  width: 458px;
  margin: 0 auto 151px auto;
}

.description-first{
  margin-bottom: 0;
  margin-top: 0;
}

.description-main {
  padding: 0;
  color: #000000;
  background-color: #FFFFFF;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  width: 620px;
  margin: 0 auto;
  margin-top: 69px;
}

.description-small {
  width: 651px;
  margin: 0 auto;
  margin-top: 25px;
  margin-bottom: 90px;
  color: #000000;
  background-color: #FFFFFF;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.advantages-list-first{
margin: 0;
padding: 0;
}

.advantages-blue {
  margin: 0;
  padding: 0;
  width: 400px;
  height: 384px;
  color: #FFFFFF;
  background-color: #82B3D3;
  display:flex;
  flex-direction: column;
  justify-content: center;
}

.advantages-item{
  display: grid;
  grid-template-columns: auto auto auto;
  margin: 0;
  padding: 0;
}

.advantages-title-blue {
  margin: 0;
  padding: 0;
  color: #FFFFFF;
  background-color: #82B3D3;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  position:  relative;
}

.advantages-title{
  position: relative;
}

.advantages-title::after{
  position: absolute;
  bottom: -95px;
  top: 85px;
  left: 28px;
  width: 47px;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.3);
  content: "";
  margin-left: 40px;
}

.advantages-title-blue::after{
  position: absolute;
  bottom: -95px;
  top: 85px;
  left: 135px;
  width: 47px;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.3);
  content: "";
  margin-left: 40px;
}

.advantages-description-blue {
  color: #FFFFFF;
  background-color: #82B3D3;
  font-size: 18px;
  line-height: 21px;
  margin: 0 auto;
  width: 230px;
  text-align: center;
  margin-top: 62px;
}

.advantages-item-2{
  display: flex;
  justify-content: space-evenly;
  margin: 0;
  padding: 0;
  text-align: center;
}

.advantages-list-second{
  margin: 0;
  padding: 0;
}

.advantages-white{
  height: 384px;
  text-align: center;
  display:flex;
  flex-direction: column;
  justify-content: center;
}

.light-blue{
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item-list{
  height: 384px;
  display:flex;
  flex-direction: column;
  justify-content: center;
}

.advantages-title {
  color: #000000;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  width: 175px;
  margin: 0 auto;
}

.advantages-description {
  margin: 0 auto;
  width: 230px;
  color: #000000;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  margin-top: 62px;
}

.advantages-description.last{
  margin-top: 30px;
}

.sign-up {
  background-image: url(/images/background.png);
  background-size: auto;
  background-repeat: no-repeat;
  height: max-content;
  padding-top: 96px;
  padding-bottom: 104px;
}

.description-white {
  color: #FFFFFF;
  text-align: center;
  text-transform: uppercase;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  margin:0;
  padding:0;
}

.description-small-white {
  color: #FFFFFF;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 54px;
}

.offer{
padding-bottom: 96px;
display:flex;
flex-direction: column;
justify-content: center;
}

.description-main.last{
  margin-left: auto;
}

.description-small.end{
  margin-top: 20px;
  margin-bottom: 54px;
}

.undecorated-link.search-hotel{
  color: #FFFFFF;
  width: 376px;
  padding: 8px 50px;
  background-color: #756157;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  display:flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  border-radius: 4px;
}

.sign-up-block{
  width: 684px;
  height: 215px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}

.newsletter-form{
  width: 684px;
  height: 52px;
  display: flex;
}

.field{
  grid-area: text;
  width: 447px;
  padding-left: 20px;
  font-size: 18px;
}

.newsletter-button{
  grid-area: button;
  width: 232px;
  height: 52px;
  background-color: #82B3D3;
  border: 0px;
  color: #FFFFFF;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
font-weight: 700;
border: 0px;
}

.button.newsletter-button:hover{
    background-color: #68A2CA;}

.button.newsletter-button:active{
    background-color: #82B3D3;
  color: rgba(255, 255, 255, 0.3);}

.page-footer {
  background-color: #FFFFFF;
  display: flex;
  width: 1060px;
  height: 120px;
  margin: 0 auto;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  width: 142px;
  height: 40px;
  color: #000000;
  text-decoration: none;
  list-style-type: none;
  margin: 0;
}

.footer-social-item{
  width: 47px;
  height: 40px;
}

.footer-social-link{
  display: block;
  height: 40px;
  width: 47;
  padding: 13px 11px;
  fill: #83B3D3;
}

.footer-social-link > svg path:hover {
  fill: #68A2CA;
}

.footer-social-link > svg path:active {
  fill: rgba(104, 162, 202, 0.3);
}

.number {
  color: #000000;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  margin: 0 auto;
}

.number:hover{
  color: #756157;
}

.number:active{
  color: rgba(117, 97, 87, 0.3);
}

.page-footer-container{
  display: flex;
  width: 1060px;
  height: 50px;
  padding-top: 40px;
  padding-bottom: 30px;
}

.html-academy-img {
  text-align: right;
}

.html-academy-img > svg path:hover {
  fill: #756157;
}

.logo-html-academy:hover{
  background-color: #756157;;
}

.logo-html-academy:active{
  background-color: rgba(117, 97, 87, 0.3);
}

.button:hover {
  background-color: #615048;
}

.button:focus{
  background-color:#615048
}

.button:active{
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.navigation-link > svg path:hover {
  fill: #68A2CA;
}

.navigation-link > svg path:active {
  fill: #82B3D3;
}

.modal-container{
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
}

.modal{
  position: relative;
  margin: auto;
  padding: 64px 70px 70px;
  background-color: #ffffff;
}

.modal-auth{
  width: 577px;
  border-radius: 30px;
}

.modal-close-button{
  position: absolute;
  padding: 16px;
  top: 64px;
  right: 52px;
  width: 52px;
  height: 52px;
  background-color: #F2F2F2;
  border-radius: 50%;
  border: 0px;
  background-image: url("/images/close.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.modal-title{
  margin: 0;
  margin-bottom: 64px;
  font-family: "PT Sans", sans-serif;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}


.field-group {
  display: flex;
}

.come-in{
  flex-shrink: 0;
  font-size: 20px;
  font-weight: 700;
  padding-top: 12px;
  margin-right: 24px;
}

.field-red-text{
  font-size: 16px;
  font-weight: 400;
  color: #FF5757;
  margin: 0;
  padding-left: 20px;
  margin-bottom: 23px;
}

.field-black-text{
  font-size: 16px;
  font-weight: 400;
  color: #333333;
  margin: 0;
  padding-left: 20px;
  margin-bottom: 23px;
}

.come-out{
  flex-shrink: 0;
  font-size: 20px;
  font-weight: 700;
  padding-top: 12px;
  margin-right: 20px;
}

.auth-form-field{
  width: 440px;
  height: 48px;
  border-radius: 4px;
  border: 0;
  background-color: #F2F2F2;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
}

.field-income {
  display: flex;
  justify-content: space-between;
}

.field-number{
  width: 110px;
  height: 48px;
  border-radius: 4px;
  border: 0;
  background-color: #F2F2F2;
  text-align: center;
  font-size: 18px;
  line-height: 20px;
  line-height: 700;
position: relative;
}

.field-people {
  display: flex;
  align-items: center;
  gap: 46px;
  font-size: 20px;
  font-weight: 700;
}

.button-search-hotel {
  width: 100%;
  margin-top: 48px;
  padding-top: 18px;
  padding-bottom: 18px;
  background-color: #83B3D3;
  font-size: 20px;
  color: #F2F2F2;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 10px;
  border: 0;
}

.field-box{
  order: 2;
  display: grid;
  grid-template-columns: 50px 33px 50px;
  margin-left: auto;
}

.field-number{
  box-sizing: border-box;
  grid-area: 1/1/2/4;
  appearance: textfield;
  width: 133px;
  padding: 5px 50px;
  font-weight: 700;
  font-size: 18px;
  line-height: 40px;
}

.field-number::-webkit-inner-spin-button,
.field-number::-webkit-inner-spin-button{
  display: none;
}

.field-button{
  z-index: 1;
  display: flex;
  place-items: center;
  place-self: center;
  margin: 0;
  padding: 0;
  border: 0;
  border-radius: 1px;
}

.tooltip{
position: absolute;
width: 26px;
height: 26px;
}

.tooltip-toggle{
  border: none;
  background-color: #83B3D3;
border-radius: 50%;
width: 26px;
height: 26px;
margin-left: 10px;
}

.tooltip-text{
  background-color: #333333;
  color: #FFFFFF;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: none;
  padding: 15px 18px 18px 22px;
  border-radius: 10px;
  display: block;
  width: 256px;
  position: absolute;
  bottom: -130px;
  left: -130px;
  z-index: 1;
  display: none;
}

.tooltip-text:after{
  content: "";
  background-image: url("/images/arrow.svg");
  width: 19px;
  height: 9px;
  position: absolute;

}

.tooltip-toggle:hover + .tooltip-text,
.tooltip-toggle:focus + .tooltip-text {
  display: block;
  top: 100%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}
