@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html{
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  background-color: #FFFFFF;
}

.visually-hidden{
  visibility: hidden;
  margin:0;
  height:0;
}

a.undecorated-link {
  color: #000000;
  text-decoration: none;
}

.page-header {
  color: #000000;
  background: #FFFFFF;
}

.navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 1060px;
  margin: 0 auto;
}

.navigation-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 339px;
  margin: 0 230px 0 0 ;
  padding: 0;
  list-style-type: none;
}

.navigation-user {
  margin: 0;
  display: flex;
  justify-content: space-between;
  max-width: 268px;
  list-style-type: none;
}

.navigation-user li {
  display: inline-block;
  justify-content: space-around;
  align-items: center;
  width: 44px;
}

.navigation-user .navigation-link {
  display: block;
  min-width: 44px;
}

.navigation-user .want{
  background-color: #756157;
  width: max-content;
  height: 100%;
  padding: 8px 34px;
}

.navigation-user .want a{
  background-color: #756157;
  color: #FFFFFF;
  width: max-content;
  height: 100%;
  text-decoration: none;
}

.navigation-list .navigation-link {
  display: block;
  padding: 20px 16px;
  font-family: "PT Sans", sans-serif;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  font-size: 20px;
  color: inherit;
  background-color: #FFFFFF;
  text-decoration: none;
}

.main-container{
  flex-grow: 1;
  padding-top: 51px;
}

.main-index {
  color: #000000;
  background-color: #FFFFFF;
  background-image: url(/images/index_background.jpg);
  background-size: auto;
  background-repeat: no-repeat;
  margin-left: auto;
    margin-right: auto;
}

.page-container{
  width: 1200px;
  margin: 0 auto;
}

.welcome {
  width: 458px;
  margin: 0 auto 151px auto;

}

.description-first{
  margin-bottom: 0;
  margin-top: 0;
}

.description-main {
  padding: 0;
  color: #000000;
  background-color: #FFFFFF;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  width: 620px;
  margin: 0 auto;
  margin-top: 69px;
}

.description-small {
  width: 651px;
  margin: 0 auto;
  margin-top: 25px;
  margin-bottom: 90px;
  color: #000000;
  background-color: #FFFFFF;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.advantages-list-first{
margin: 0;
padding: 0;
}

.advantages-blue {
  margin: 0;
  padding: 0;
  width: 400px;
  height: 384px;
  color: #FFFFFF;
  background-color: #82B3D3;
  display:flex;
  flex-direction: column;
  justify-content: center;
}

.advantages-item{
  display: grid;
  grid-template-columns: auto auto auto;
  margin: 0;
  padding: 0;
}

.advantages-title-blue {
  margin: 0;
  padding: 0;
  color: #FFFFFF;
  background-color: #82B3D3;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.advantages-description-blue {
  color: #FFFFFF;
  background-color: #82B3D3;
  font-size: 18px;
  line-height: 21px;
  margin: 0 auto;
  width: 230px;
  text-align: center;
  margin-top: 62px;
}

.advantages-item-2{
  display: flex;
  justify-content: space-evenly;
  margin: 0;
  padding: 0;
  text-align: center;
}

.advantages-list-second{
  margin: 0;
  padding: 0;
}

.advantages-white{
  height: 384px;
  text-align: center;
  display:flex;
  flex-direction: column;
  justify-content: center;
}

.light-blue{
  background-color: rgba(131, 179, 211, 0.2);
}
.advantages-item-list{
  height: 384px;
  display:flex;
  flex-direction: column;
  justify-content: center;
}

.advantages-title {
  color: #000000;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  width: 175px;
  margin: 0 auto;
}

.advantages-description {
  margin: 0 auto;
  width: 230px;
  color: #000000;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  margin-top: 62px;
}

.advantages-description.last{
  margin-top: 30px;
}

.sign-up {
  background-image: url(/images/background.png);
  background-size: auto;
  background-repeat: no-repeat;
  height: max-content;
  padding-top: 96px;
  padding-bottom: 104px;
}

.description-white {
  color: #FFFFFF;
  text-align: center;
  text-transform: uppercase;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  margin:0;
  padding:0;
}

.description-small-white {
  color: #FFFFFF;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 54px;
}

.offer{
padding-bottom: 96px;
display:flex;
flex-direction: column;
justify-content: center;
}

.description-main.last{
  margin-left: auto;
}

.description-small.end{
  margin-top: 20px;
  margin-bottom: 54px;
}

.undecorated-link.search-hotel{
  color: #FFFFFF;
  width: 376px;
  padding: 8px 50px;
  background-color: #756157;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  display:flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}

.sign-up-block{
  width: 684px;
  height: 215px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}

.newsletter-form{
  width: 684px;
  height: 52px;
  display: grid;
  grid-template-columns: 452px auto;
  grid-template-areas: text button;
}

.field{
  grid-area: text;
}

.newsletter-button{
  grid-area: button;
}

.page-footer {
  background-color: #FFFFFF;
  display: flex;
  width: 1060px;
  height: 120px;
  margin: 0 auto;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  width: 142px;
  height: 40px;
  color: #000000;
  text-decoration: none;
  list-style-type: none;
}

.footer-social-item{
  width: 47px;
  height: 40px;

}

.number {
  color: #000000;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  margin: 0 auto;
}

.page-footer-container{
  display: flex;
  width: 1060px;
  height: 50px;
  padding-top: 40px;
  padding-bottom: 30px;
}

.html-academy-img {
  text-align: right;
}
